:root {
  --primary: #eef0f2ff;
  --secondary: #c6c7c4ff;
  --tertiary: #a2999eff;
  --accent: #9c7a7a;
  --inverse: #353b3cff;
  --inverse-strong: #151616;
  --selection: #c4afaf;

  background-color: var(--inverse-strong);
}

:root.theme-1 {
  --primary: #eef0f2ff;
  --secondary: #c7c3c2;
  --tertiary: #9c9590;
  --accent: #c8815a;
  --inverse: #3c3537;
  --inverse-strong: #151616;
  --selection: #d6bcaf;
}

::selection {
  background-color: var(--selection);
  color: white;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  color: var(--inverse);
}

section {
  color: var(--secondary);
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.horiz {
  display: flex;
  justify-content: space-evenly;
}
.horiz-sb {
  display: flex;
  justify-content: space-between;
}

.vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fit {
  width: fit-content;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 900;
  margin: 20px 0;
}

h1 {
  font-size: 46px;
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  padding: 20px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header h1, header p {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  font-family: 'Merriweather', serif;
}
header img {
  height: 100px;
}
header .overlay {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.main {
  min-height: calc(100vh - 190px);
}
footer {
  position: sticky;
  height: 50px;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  background-color: var(--inverse);
  color: var(--secondary);
}

button, a.button {
  padding: 6px 16px;
  font-size: 24px;
  font-weight: 300;
  border: none;
  box-shadow: 2px 2px 3px #1112;
  background-color: var(--inverse);
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
}
button:focus {
  outline: none;
}
button:hover, a.button:hover {
  background-color: var(--primary);
  color: var(--inverse);
}
button.soft {
  background: none;
  padding: 0;
  box-shadow: none;
}





table td i {
  color: var(--tertiary);
}

.notice {
  text-align: center;
  color: var(--secondary);
}


.input-generic {
  margin: 5px;
  width: fit-content;
  color: var(--secondary);
  font-size: 24px;
}
.input-generic * {
  margin: 5px;
}


input,
select {
  font-size: 24px;
  padding: 1px 4px;
  background-color: var(--primary);
  color: var(--inverse);
  border: 1px solid var(--inverse);
}

input[name*='name'] {
  min-width: 200px;
}

textarea {
  font-size: 14px;
  padding: 1px 4px;
  background-color: var(--primary);
  color: var(--inverse);
  border: 1px solid var(--inverse);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.spacer-v {
  height: 20px;
}

.material-icons {
  color: var(--inverse);
}

/* Custom checkbox */

.custom-check {
  position: relative;
  width: fit-content;
  display: block;
  padding-left: 24px;
}
.custom-check input {
  opacity: 0;
  width: 0;
  height: 0;
}
.custom-check span {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--inverse);
  border: 1px solid var(--inverse);
  cursor: pointer;
  transition: .2s;
  background-position: center center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
.custom-check:hover span {
  background-color: var(--accent);
}
.custom-check input:checked ~ span {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}