/* Menu button */

.menu-button {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.menu-bar {
  position: absolute;
  display: block;
  width: 40px;
  height: 10px;
  opacity: 100%;

  background-color: var(--inverse);

  transition: .5s;
}

/* Menu button animation */

.menu-button.active .menu-bar:nth-child(1) {
  transform: translate(0, 15px) rotate(-45deg);
}
.menu-button.active .menu-bar:nth-child(2) {
  transform: translate(100px, 0);
  opacity: 0%;
}
.menu-button.active .menu-bar:nth-child(3) {
  transform: translate(0, -15px) rotate(45deg);
}

/* Menu */

.menu {
  display: none;
  position: fixed;
  z-index: 10;
  top: 140px;
  right: 0;
  width: 400px;
  height: calc(100vh - 190px);
  overflow-y: auto;

  font-size: 24px;

  background-color: var(--secondary);
  opacity: .5;

  transition: .5s;
  transform: translate(400px, 0);
}
.menu.active {
  transform: translate(0, 0);
  display: block;
  opacity: 1;
}
.menu ul {
  list-style: none;
  padding: 0;

}
.menu li {
  padding: 2px 40px;
}
.menu .table-manager li {
  position: relative;
  width: 100%;
  padding: 0;
  text-align: center;

  cursor: pointer;

  transition: .2s;
}
.menu .table-manager li > a:not(.button) {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 2px 40px;
  text-decoration: none;

  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--inverse);
  cursor: inherit;

  transition: .2s;
}
.menu .table-manager li > .overlay > a > .material-icons {
  vertical-align: middle;
  transition: .2s;
}
.menu .table-manager li > .overlay > a:hover > .material-icons {
  color: var(--primary);
}
.menu .table-manager li:hover {
  background-color: var(--accent);
}
.menu .table-manager li:hover > a {
  color: var(--primary);
}
.menu .table-controls {
  pointer-events: none;
  padding: 0 10px;
}
.menu .table-controls > * {
  pointer-events: initial;
}
.menu select,
.menu select > option {
  background-color: var(--inverse);
  font-weight: 300;
}

/* Settings */

.settings li {
  display: flex;
  justify-content: space-between;
}
